body {
  font-family: system-ui;
  font-size: 14px;
}

div.panel_container {
  display: flex;
}

div.panel_container div.left_panel {
  flex: 1;
  border-top: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

div.panel_container div.right_panel {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
  gap: 10px;
}

div.left_panel div.filter_container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px;
  gap: 10px;
}

div.filter_container div.filter_title {
}

div.filter_container div.filter_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.filter_grid div.filter_button {
  border: 1px solid #C0C0C0;
  padding: 2px;
  cursor: pointer;
}

div.filter_grid div.filter_button.active {
  background-color: #000000;
  color: #FFFFFF;
}

div.right_panel div.result_container {
  border: 1px solid #E0E0E0;
  padding: 10px;
}

div.result_container div.page_title {
}

div.result_container div.page_property {
  color: #505050;
}
