<h1>Fablabs by Sustainable Development Goals</h1>

<div class="panel_container">
  <div class="left_panel">
    {% for full_property_name, property_value in properties %}
      {% set property_name = split(full_property_name, ':')[1] %}
      <div class="filter_container">
        <div class="filter_title">
          {{ property_name }}
        </div>
        <div class="filter_grid">
          {% for value in property_value['printouts']['Allows value'] %}
            <div class="filter_button" onclick="filter_toggle({{ property_name }}, {{ value }},
             () => this.classList.add('active'), () => this.classList.remove('active'));">
              {{ value }}
            </div>
          {% end %}
        </div>
      </div>
    {% end %}
  </div>
  <div class="right_panel">
    {% for page_title, properties in pages %}
      {% set page_sdg = properties['printouts']['Page SDG'] %}
      {% set page_location = properties['printouts']['Page location'] %}
      <div class="result_container"
       data-filter-properties='{ "Page SDG": {{ map(itemgetter("fulltext"), page_sdg) }} }'>
        <div class="page_title">
          <a href="{{ properties['fullurl'] }}">{{ page_title }}</a>
        </div>
        <div class="page_property">
          Page location:
          {% for location in page_location %}
            {{ location }}
          {% end %}
        </div>
        <div class="page_property">
          Page SDG:
          {% for sdg in page_sdg %}
            <a href="{{ sdg['fullurl'] }}">{{ split(sdg['fulltext'])[0] }}</a>
          {% end %}
        </div>
      </div>
    {% end %}
    <div data-show-when-results-empty>
      No results
    </div>
  </div>
</div>
