<h1>Tissues Explorer</h1>

<div class="panel_container">
  <div class="left_panel">
    {% for property_name, property_value in properties %}
      <div class="filter_container">
        <div class="filter_title">
          {{ property_name }}
        </div>
        <div class="filter_grid">
          {% for value in property_value %}
            <div class="filter_button"
             onclick="filter_toggle_single({{ property_name }}, {{ value }},
             () => this.classList.add('active'), () => this.classList.remove('active'))">
              {{ value }}
            </div>
          {% end %}
        </div>
      </div>
    {% end %}
  </div>
  <div class="right_panel">
    {% for page_title, properties in pages %}
      {% set page_keywords = properties['printouts']['Page keywords'] %}
      {% set page_description = properties['printouts']['Page description'] %}
      <div class="result_container"
       data-filter-properties='{ "Page keywords": {{ page_keywords }} }'>
        <div class="page_title">
          <a href="{{ properties['fullurl'] }}">{{ page_title }}</a>
        </div>
        <div class="page_property">
          {% for description in page_description %}
            {{ description }}
          {% end %}
        </div>
      </div>
    {% end %}
    <div data-show-when-filters-clear>
      Select a page keyword
    </div>
  </div>
</div>
